################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DbAsk/v14
/bin/Debug
/obj/Debug
/DbAsk.csproj.user
